* {
    box-sizing: border-box;
}

:root {
    --background-color: rgb(48, 48, 48);
    --surface-color-1: rgb(62, 62, 62);
    --surface-color-2: rgb(74, 74, 74);
    --primary-color: rgb(0, 255, 162);
}
  
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* NAV */

nav {
    position: sticky;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--surface-color-1);
}

nav ul {
    /* padding: 1rem; */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* gap: 2rem; */
}

nav li {
    margin: 0;
    padding: 0;
}

nav li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

nav li a:hover {
    background-color: var(--surface-color-2);
    color: var(--primary-color);
    transition: 100ms;
}

#hamburger-container {
    padding: 1rem;
    aspect-ratio: 1;
    display: none;
    align-items: center;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nav-logo:hover {
    background-color: var(--surface-color-2);
    color: var(--primary-color);
    transition: 100ms;
}

/* END OF NAV */

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
}

@media screen and (max-width: 460px) {  
    nav ul {
        background-color: var(--surface-color-1);
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;
    }

    #hamburger-container {
        display: flex;
    }
}